@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;1,300&display=swap');
html,
body {
    font-family: 'Poppins', sans-serif;
}
.navbar {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 15px;
    letter-spacing: 0.1rem;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 20px, 0;
    /* background-image: url(https://thumbs.dreamstime.com/b/pizza-seamless-pattern-vector-pizza-pattern-abstract-background-background-useful-restaurant-identity-packaging-89205691.jpg); */
    /* display: flex; */
}
.navbar-dark .navbar-nav .nav-link {
    color: #fff;
    padding-left: 20px;
}
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link:hover {
    color: pink;
}
.color-pink {
    color: #ff004d;
}
.btn-theme {
    background-color: #ff004d;
    padding: 5px 20px;
    color: #fff;
}
.image {
    height: 8vh;
    width: 8vw;
}
/* #home {
    padding-top: 10%;
} */
.pt-5 {
    background-image: url(https://us.123rf.com/450wm/milkos/milkos1808/milkos180801303/107130436-slices-of-pizza-with-prosciutto-and-spices-on-black-background-copy-space-top-view.jpg?ver=6);
    height: 70vh;
    margin-top: 5%;
    /* padding-top: 10%; */
}
.my-auto{
    color: #fff;
}
.intro h1,h5,p {
    color: white;
}
.card-title{
    color: black;
}
.card {
    overflow: hidden;
    position: relative;
}
.card > img{
    transition: transform 200ms;
}
.card:hover > img {
    transform: scale(1.05);
}
.order{
    background-image: url(images/pic-2.jpg);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    color: #000;
    padding-top: 3%;
    padding-bottom: 3%;
}
.overlay-order{
    margin-left: 4%;
    margin-right: 4%;
    padding-bottom: 20px;
    padding-left: 7%;
    background-color: rgba(0, 0, 0, 0);
}
.choice {
    display: none;
    padding-left: 2%;
    padding-right: 2%;
}
.choice h2 {
    color: orangered;
    text-align: left;
}
.deliver {
    display: none;
}
.delivery {
    display: none;
    padding-left: 10%;
    padding-right: 10%;
}
td,th {
    font-size: 20px;
    color: whitesmoke;
}
#your-order {
    color: #fff;
    font-size: 30px;
}



























